body{
    display: flex;
    background-color: #eac285;
}
.qualities{
    font-family: 'Poppins', sans-serif;;
}
.loveher{
    font-family: 'Poppins', sans-serif;;
}



.image-grid {
	--gap: 16px;
	--num-cols: 4;
	--row-height: 340px;
	box-sizing: border-box;
	padding: var(--gap);
	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
   
    
    
   
}
.image-grid>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
    clip-path: circle();
}
.image-grid-col-2 {
	grid-column: span 2;
}

.image-grid-row-2 {
	grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 2;
		--row-height: 200px;
	}
}

.glow-on-hover {
    width: 420px;
    height: 250px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: 'Rubik Vinyl', cursive;
    margin-left: 330px;
    margin-top: 230px;
    font-size: 40px;
    font-weight: bolder;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ddb3b3, #dfbca0, #e7e7d6, #d5dbd2, #d1dbda, #dfacdc, #81768d, #dfc5d9, #ddbfbf);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(230, 218, 218)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(199, 163, 163);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
